<div name="wrap-comments">
  <%= render 'comments/comment_form', post: @post %>
  <ul name="comments" class="list-group list-group-flush">
    <% @comments.each do |comment| %>
      <%= render 'comments/comment', comment:comment, post: @post %>
    <% end %>
  </ul>
</div>
