<% 
  like = post.likes.find_by(user_id: current_user.id)
  data_method = like ? 'delete' : 'post'
  href = like ? like_path(post, like) : likes_path(post)
  color = like ? 'text-primary' : 'text-secondary'
%>

<a class="px-4 py-1 like <%= color %>"
   href="<%= href %>"
   data-method="<%= data_method %>"
   data-remote="true"
   name="like"
>
      <i class="fas fa-thumbs-up fa-lg"></i>
      Like
</a>

