<% user ||= @user  %>
<% following = current_user.following? user %>
<form method="post" action="<%= user_follow_path( user) %>" class="d-inline" id="follow-toggle-<%= user.id %>" 
data-remote="true" data-type="script">  
<input type="submit" class="btn <%= !following ? 'btn-secondary' : 'btn-primary' %>" value="<%= following ? 'following' : 'follow' %>" />
</form>
