<h2>Change password</h2>
<form action="<%= change_password_path %>", method="post" class="w-50">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <%= render 'shared/error_messages', resource: resource %>
  <div class="form-group">
    <label for="new_pass">New password</label>
    <input type="password" name="user[password]" id="new_pass" class="form-control">
  </div>
  <div class="form-group">
    <label for="password_confirmation">Password confirmation</label>
    <input type="password" name="user[password_confirmation]" id="password_confirmation" class="form-control">
  </div>
  <div class="form-group">
    <label for="current_password">Current password</label>
    <input type="password" name="user[current_password]" class="form-control" id="current_password">
  </div>
  <input type="submit" value="Change" class="btn btn-primary" data-disable-with="Update">
</form>


