/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= 
 *= require_tree .
 *= require_self

 */
 @import "bootstrap/scss/bootstrap";

 body {
  background-color: $light;
  min-height: 75rem;
  padding-top: 4.5rem;
}

.actions input[type="submit"] {
  @extend .btn;
  @extend .btn-primary;
  margin-top: 7px;
}


h2 {
  color: $primary;
}

div.field_with_errors {
  display: inline;
}

.online {
  
  padding:8px;
  box-sizing: border-box;
  border-radius: 50%;
  background-color: $success;
  border-color: gray;
  border-width: 2px;
}
.offline {
  @extend .online;
  background-color:gray;
}
.table td {
  vertical-align: middle;
}