/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= 
 *= require_tree .
 *= require_self

 */
@import "bootstrap/scss/bootstrap";
html,
body {
  height: 100%;
}
body {
  background-color: $light;
  padding-top: 4.5rem;
}

.actions input[type="submit"] {
  @extend .btn;
  @extend .btn-primary;
  margin-top: 7px;
}

h2 {
  color: $primary;
}

div.field_with_errors {
  display: inline;
}

.icon-status {
  width: 16px;
  height: 16px;
  box-sizing: border-box;
  border-radius: 50%;
  border-width: 2px;
  &.online {
    background-color: $success;
  }
  &.offline {
    background-color: $danger;
  }
}

.chat-bar {
  overflow: hidden;
  overflow-y: scroll;
  margin-top: auto;
  margin-bottom: auto;
  position: fixed;
  overflow-x: scroll;
  margin-bottom: 20px;
  .username {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .chat-box{
    width: 20%;
    height: 40%;
    position: fixed;
    bottom: 0px;
    right: 16.66667%;
    border-style: solid;
    border-width: 0px 1px;
    border-color:$primary;
    background-color: white;
    
    .header{
      height: 15%;
      
    }
  }
}

.table td {
  vertical-align: middle;
}
