<ul class="list-group chat-bar h-75" id="chat-bar">
  <% User.where.not(id: current_user.id).each do |user| %>
    <li class="list-group-item d-flex align-items-center 
              justify-content-between d-block row" user_id="<%= user.id %>">
        <span class="username col-8"><%= user.name %></span>
        <%= render(partial:'status/status', locals:{user:user}) %>
    </li>
  <% end %>
  <div hidden id="chat-box-markup"></div>
</ul>

